[defaults]
inventory = inventory/hosts.yml
remote_user = mayanhunter187
private_key_file = ~/.ssh/id_ed25519
roles_path = roles
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
pipelining = True
